<div class="col s12 m6">
    <div class="card-panel" id="cardPanelWrapper">

      <div class="row">
          <div class="textCentered col s12">
              <h5> {{title}} </h5>
          </div>
      </div>

      <div class="row">
          <div class="textCentered col s12">
            <img class="seriePic" alt="Foto de {{title}}" (click)="randomize()" src="assets/{{picName}}">
          </div>
      </div>

      <div class="row">
        <div class="textCentered" >
          <a (click)='randomize()' class="waves-effect waves-light btn light-green">Escolher</a>
        </div>
      </div>

    </div>
</div>

<div id="modalEpisode{{index}}" class="modal">
    <div class="modal-content">
      <ul *ngIf="fetched">
        <li>
          Nome: {{title_serie}}
        </li>
        <li>
          Temporada: {{season}}
        </li>
        <li>
          Episódio: {{episode}}
        </li>
        <li>
          Duração: {{time}}
        </li>
        <li>
          Nota: {{grade}}
        </li>
        <li>
          <ul class="collapsible" data-collapsible="expandable">
            <li>
              <div class="collapsible-header"><i class="spoilerAlert material-icons">info_outline</i>Enredo (spoiler alert)</div>
              <div class="collapsible-body"><span>{{spoiler}}</span></div>
            </li>
          </ul>
        </li>
        <li>
          Prêmios: {{awards}}
        </li>
        <li>
          Ano: {{year}}
        </li>
        <li>
          <a *ngIf="fetched" href="{{more}}"> Mais informações </a>
        </li>
        <img src="{{poster}}">
      </ul>
      <h3 *ngIf="!fetched">
        Carregando!
      </h3>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
</div>