<div class="col s12 m6">
    <div class="card-panel" id="cardPanelWrapper">

      <div class="row">
          <div class="textCentered col s12">
              <h5> {{title}} </h5>
          </div>
      </div>

      <div class="row">
          <div class="textCentered col s12">
            <img class="seriePic" alt="Foto de {{title}}" (click)="randomize()" src="assets/{{picName}}">
          </div>
      </div>

      <div class="row">
        <div class="textCentered" >
          <a (click)='randomize()' class="waves-effect waves-light btn light-green">Escolher</a>
        </div>
      </div>

    </div>
</div>

<div id="modalEpisode{{index}}" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div *ngIf="fetched" class="row full-height no-bottom">
        <div class="col s8 full-height">
          <ul class="full-height no-bottom">
            <li>
              Nome: <strong>{{title_serie}}</strong>  
            </li>
            <li>
              Temporada: <strong>{{season}}</strong>
            </li>
            <li>
              Episódio: <strong>{{episode}}</strong>
            </li>
            <li>
              Duração: <strong>{{time}}</strong>
            </li>
            <li>
              Nota: <strong>{{grade}}</strong>
            </li>
            <li>
              Prêmios: <strong>{{awards}}</strong>
            </li>
            <li>
              Ano: <strong>{{year}}</strong>
            </li>
            <li>
              <a class="moreInfoAnchor" *ngIf="fetched" href="{{more}}"> Mais informações </a>
            </li>
            <li>
              <ul class="collapsible" data-collapsible="expandable">
                <li>
                  <div class="collapsible-header"><i class="spoilerAlert material-icons">info_outline</i>Enredo (spoiler alert)</div>
                  <div class="collapsible-body"><span>{{spoiler}}</span></div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div *ngIf="fetched" class="col s4 full-height">
            <img src="{{poster}}" class="seriePoster full-height" alt="Poster de {{title}}">
        </div>
      </div>
      <div id="loadingWrapper" *ngIf="!fetched" class="textCentered">
        <img src="assets/loading.gif" alt="GIF carregamento" />
        <h5>
          Se estiver demorando, busque novamente! :)
        </h5>
      </div>
    </div>
    <div class="modal-footer">
      <a (click)="randomize_again()" class="waves-effect waves-green btn-flat left">Outro</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
</div>