<!--The content below is only a placeholder and can be replaced.-->
<div class="container" id="container-wrapper">

  <div class="row">
    <div id="welcomeWrapper" class="textCentered col s12">
      <h3>
        Não sabe qual episódio de seu seriado favorito assistir ?
      </h3>
      <h5>
        Escolha seu seriado e nós escolhemos o episódio para você!
      </h5>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card-panel" id="cardPanelWrapper">

          <div class="row">
            <div class="textCentered col s12">
              <h5> Busque pela sua série, e nós lhe indicaremos um episódio! </h5>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">search</i>
              <input id="serieNameInput" type="text" class="validate" #serieNameInput>
              <label for="serieNameInput">Nome da série</label>
            </div>
          </div>
            
          <div class="row">
            <div class="textCentered" >
              <a (click)='randomize(serieNameInput.value)' class="waves-effect waves-light btn light-green">Escolher</a>
            </div>
          </div>

        </div>
      </div>

    <serie-wrapper *ngFor="let serie of series; let i=index;" index="{{i}}" title="{{serie.title}}" picName="{{serie.picName}}"></serie-wrapper>

    </div>
  </div>
  

</div>

  <!-- Modal Structure -->
  <div id="modalEpisode" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div *ngIf="fetched" class="row full-height no-bottom">
        <div class="col s8 full-height">
          <ul class="full-height no-bottom">
            <li>
              Nome: <strong>{{title_serie}}</strong>
            </li>
            <li>
              Temporada: <strong>{{season}}</strong>
            </li>
            <li>
              Episódio: <strong>{{episode}}</strong>
            </li>
            <li>
              Duração: <strong>{{time}}</strong>
            </li>
            <li>
              Nota: <strong>{{grade}}</strong>
            </li>
            <li>
              Prêmios: <strong>{{awards}}</strong>
            </li>
            <li>
              Ano: <strong>{{year}}</strong>
            </li>
            <li>
              <a class="moreInfoAnchor" *ngIf="fetched" href="{{more}}"> Mais informações </a>
            </li>
            <li>
              <ul class="collapsible" data-collapsible="expandable">
                <li>
                  <div class="collapsible-header"><i class="spoilerAlert material-icons">info_outline</i>Enredo (spoiler alert)</div>
                  <div class="collapsible-body"><span>{{spoiler}}</span></div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div *ngIf="fetched" class="col s4 full-height">
            <img src="{{poster}}" class="seriePoster full-height" alt="Poster da {{title_serie}}">
        </div>
      </div>
      <div id="loadingWrapper" *ngIf="!fetched" class="textCentered">
        <img src="assets/loading.gif" alt="GIF carregamento" />
        <h5>
          Se estiver demorando, busque novamente! :)
        </h5>
      </div>
    </div>
    <div class="modal-footer">
      <a (click)="randomize_again(serieNameInput.value)" class="waves-effect waves-green btn-flat left">Outro</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
  </div>