<!--The content below is only a placeholder and can be replaced.-->
<div class="container" id="container-wrapper">

  <div class="row">
    <div id="welcomeWrapper" class="textCentered col s12">
      <h3>
        Não sabe qual episódio de seu seriado favorito assistir ?
      </h3>
      <h5>
        Escolha seu seriado e nós escolhemos o episódio para você!
      </h5>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card-panel" id="cardPanelWrapper">

          <div class="row">
            <div class="textCentered col s12">
              <h5> Busque pela sua série, e nós lhe indicaremos um episódio! </h5>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">search</i>
              <input (keydown)="keyDownListener($event)" #serieNameInput id="serieNameInput" type="text" class="validate" #serieNameInput>
              <label for="serieNameInput">Nome da série</label>
            </div>
          </div>
            
          <div class="row">
            <div class="textCentered" >
              <a (click)='randomize(serieNameInput.value)' class="waves-effect waves-light btn light-green">Escolher</a>
            </div>
          </div>

        </div>
      </div>

    <serie-wrapper *ngFor="let serie of series; let i=index;" index="{{i}}" title="{{serie.title}}" picName="{{serie.picName}}"></serie-wrapper>

    </div>
  </div>
  

</div>

  <!-- Modal Structure -->
  <div id="modalEpisode" class="modal modal-fixed-footer">
    <div class="modal-content">
      <response-handler control="{{control}}" [data]="data"> </response-handler>
    </div>
    <div class="modal-footer">
      <a (click)="randomize_again(serieNameInput.value)" class="waves-effect waves-green btn-flat left">Outro</a>
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
  </div>